@layer components {
  .tab-list {
    display: flex;
    flex-flow: row nowrap;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    /* The sum of the outline on focus, to prevent cut-off */
    padding: 4px;
    scroll-padding-inline: 4px;
  }

  .tab {
    box-sizing: border-box;
    display: block;
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  /* The custom focus is applied in the same way to all tab styles */
  .tab:focus-within {
    outline: #1b2134 solid 2px;
    outline-offset: 2px;
  }

  .tab-list.pill .tab {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 100px;
    color: var(--text-color);
  }

  .tab-list.pill .tab:hover {
    background-color: var(--hover-background-color);
    border-color: var(--hover-border-color);
  }

  .tab-list.pill .tab:active {
    background-color: var(--active-background-color);
  }

  .tab-list.pill .tab[aria-selected="true"] {
    background-color: var(--inverted-background-color);
    border-color: var(--inverted-border-color);
    color: var(--inverted-text-color);
  }

  .tab-list.pill .tab[aria-selected="true"]:hover {
    background-color: var(--inverted-hover-background-color);
    border-color: var(--inverted-hover-border-color);
  }

  .tab-list.pill .tab[aria-selected="true"]:active {
    background-color: var(--inverted-active-background-color);
    background-color: var(--inverted-active-border-color);
  }

  .tab-list.underline .tab {
    /*
      The border is always present but transparent to prevent a jump in the
      layout when a tab is selected (since the border is counted in the height).
    */
    border-bottom: 3px solid transparent;
  }

  .tab-list.underline .tab:where(:hover, :active, :focus-within) {
    border-bottom-color: var(--hover-border-color);
  }

  .tab-list.underline .tab[aria-selected="true"] {
    border-bottom-color: currentColor;
  }

  .tab button {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    /* The gap is between the text and an eventual badge */
    gap: var(--spacing-3xs);

    /* Set here since it does not need to be managed at a higher level */
    font-weight: 700;
    /* Set to inherit since it is controlled by the ta */
    color: inherit;
    font-family: inherit;
  }

  .tab:focus-within button {
    /* The focus outline is managed by the tab */
    outline: none;
  }

  @media (max-width: 768px) {
    .tab-list.pill {
      gap: var(--spacing-2xs);
    }

    .tab-list.pill .tab button {
      padding-inline: var(--spacing-xs);
    }

    .tab-list.underline {
      gap: var(--spacing-l);
    }

    .tab button {
      height: 42px;
    }
  }

  @media (min-width: 768px) {
    .tab-list.pill {
      gap: var(--spacing-xs);
    }

    .tab-list.pill .tab button {
      padding-inline: var(--spacing-s);
    }

    .tab-list.underline {
      gap: var(--spacing-xl);
    }

    .tab button {
      height: 50px;
    }
  }
}
